asgiref==3.7.2
Django==3.2.23
django-cors-headers==4.1.0
django-jazzmin==2.6.0
djangorestframework==3.14.0
Pillow==9.5.0
protobuf==3.20.3
PyMySQL==1.1.0
python-dotenv==0.21.1
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1